<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conexao</servlet-name>
        <servlet-class>Conexao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conn</servlet-name>
        <servlet-class>Conn.Conn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarUsers</servlet-name>
        <servlet-class>listarUsers.listarUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadUser</servlet-name>
        <servlet-class>cadUser.cadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUser</servlet-name>
        <servlet-class>AlterarUser.AlterarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>DeleteUser.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>conexao</servlet-name>
        <servlet-class>conexao.conexao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCliente</servlet-name>
        <servlet-class>AlterarCliente.AlterarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCliente</servlet-name>
        <servlet-class>DeleteCliente.DeleteCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>CadastrarUsuarioPF.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCliente</servlet-name>
        <servlet-class>EditarCliente.EditarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>ListarCliente.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirMaterial</servlet-name>
        <servlet-class>AbrirMaterial.AbrirMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarDisco</servlet-name>
        <servlet-class>AlterarDisco.AlterarDisco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirMaterialBanda</servlet-name>
        <servlet-class>AbrirMaterialBanda.AbrirMaterialBanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarBanda</servlet-name>
        <servlet-class>AlterarBanda.AlterarBanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBanda</servlet-name>
        <servlet-class>DeleteBanda.DeleteBanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarAlbum</servlet-name>
        <servlet-class>DeletarAlbum.DeletarAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCliente</servlet-name>
        <servlet-class>DeletarCliente.DeletarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarAlbum</servlet-name>
        <servlet-class>listarAlbum.listarAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarBandas</servlet-name>
        <servlet-class>listarBandas.listarBandas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarBanda</servlet-name>
        <servlet-class>CadastrarBanda.CadastrarBanda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAlbum</servlet-name>
        <servlet-class>CadastrarAlbum.CadastrarAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>CadastrarUsuario.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarioPF</servlet-name>
        <servlet-class>CadastrarUsuarioPF.CadastrarUsuarioPF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar</servlet-name>
        <servlet-class>Cadastrar.Cadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlternarPagina</servlet-name>
        <servlet-class>AlternarPagina.AlternarPagina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarioPFisica</servlet-name>
        <servlet-class>CadastrarUsuarioPFisica.CadastrarUsuarioPFisica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarPet</servlet-name>
        <servlet-class>CadastrarPet.CadastrarPet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>Perfil.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPetsUsuario</servlet-name>
        <servlet-class>ListarPetsUsuario.ListarPetsUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrarpet</servlet-name>
        <servlet-class>CadastrarPet.Cadastrarpet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>petcadastra</servlet-name>
        <servlet-class>petcadastra.petcadastra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarioPJurica</servlet-name>
        <servlet-class>CadastrarUsuarioPJurica.CadastrarUsuarioPJurica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuarioPJuridica</servlet-name>
        <servlet-class>CadastrarUsuarioPJuridica.CadastrarUsuarioPJuridica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarONGs</servlet-name>
        <servlet-class>CadastrarONGs.CadastrarONGs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarPets</servlet-name>
        <servlet-class>listarPets.listarPets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarInformacao</servlet-name>
        <servlet-class>RegistrarInformacao.RegistrarInformacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarPetUsuario</servlet-name>
        <servlet-class>listarPetUsuario.listarPetUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarConteudoPerfil</servlet-name>
        <servlet-class>ListarConteudoPerfil.ListarConteudoPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfil</servlet-name>
        <servlet-class>EditarPerfil.EditarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notificacacaochat</servlet-name>
        <servlet-class>notificacaochat.notificacacaochat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notificacaochat</servlet-name>
        <servlet-class>notificacaochat.notificacaochat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visualizacaochat</servlet-name>
        <servlet-class>visualizacaochat.visualizacaochat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicacaoUnica</servlet-name>
        <servlet-class>PublicacaoUnica.PublicacaoUnica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarAdocao</servlet-name>
        <servlet-class>FinalizarAdocao.FinalizarAdocao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adotar</servlet-name>
        <servlet-class>Adotar.Adotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErroAdotar</servlet-name>
        <servlet-class>ErroAdotar.ErroAdotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarNotificacoes</servlet-name>
        <servlet-class>ListarNotificacoes.ListarNotificacoes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceitarAdocao</servlet-name>
        <servlet-class>AceitarAdocao.AceitarAdocao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsers</servlet-name>
        <servlet-class>ListarUsers.ListarUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarDocumentacao</servlet-name>
        <servlet-class>GerarDocumentacao.GerarDocumentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarNotificacoesAdocao</servlet-name>
        <servlet-class>ListarNotificacoesAdocao.ListarNotificacoesAdocao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentoBanco</servlet-name>
        <servlet-class>DocumentoBanco.DocumentoBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarDocumentacao</servlet-name>
        <servlet-class>ListarDocumentacao.ListarDocumentacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notificacao</servlet-name>
        <servlet-class>Notificacao.Notificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizacaoNotific</servlet-name>
        <servlet-class>VisualizacaoNotific.VisualizacaoNotific</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecusarAcordo</servlet-name>
        <servlet-class>RecusarAcordo.RecusarAcordo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatosRecentes</servlet-name>
        <servlet-class>ContatosRecentes.ContatosRecentes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEmail</servlet-name>
        <servlet-class>EditarEmail.EditarEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenha</servlet-name>
        <servlet-class>AlterarSenha.AlterarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pesquisar</servlet-name>
        <servlet-class>Pesquisar.Pesquisar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conexao</servlet-name>
        <url-pattern>/Conexao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conn</servlet-name>
        <url-pattern>/Conn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarUsers</servlet-name>
        <url-pattern>/listarUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadUser</servlet-name>
        <url-pattern>/cadUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUser</servlet-name>
        <url-pattern>/AlterarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>conexao</servlet-name>
        <url-pattern>/conexao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCliente</servlet-name>
        <url-pattern>/AlterarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCliente</servlet-name>
        <url-pattern>/DeleteCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCliente</servlet-name>
        <url-pattern>/EditarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirMaterial</servlet-name>
        <url-pattern>/AbrirMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarDisco</servlet-name>
        <url-pattern>/AlterarDisco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirMaterialBanda</servlet-name>
        <url-pattern>/AbrirMaterialBanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarBanda</servlet-name>
        <url-pattern>/AlterarBanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBanda</servlet-name>
        <url-pattern>/DeleteBanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarAlbum</servlet-name>
        <url-pattern>/DeletarAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCliente</servlet-name>
        <url-pattern>/DeletarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarAlbum</servlet-name>
        <url-pattern>/listarAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarBandas</servlet-name>
        <url-pattern>/listarBandas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarBanda</servlet-name>
        <url-pattern>/CadastrarBanda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAlbum</servlet-name>
        <url-pattern>/CadastrarAlbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioPF</servlet-name>
        <url-pattern>/CadastrarUsuarioPF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlternarPagina</servlet-name>
        <url-pattern>/AlternarPagina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioPFisica</servlet-name>
        <url-pattern>/CadastrarUsuarioPFisica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarPet</servlet-name>
        <url-pattern>/CadastrarPet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPetsUsuario</servlet-name>
        <url-pattern>/ListarPetsUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrarpet</servlet-name>
        <url-pattern>/Cadastrarpet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>petcadastra</servlet-name>
        <url-pattern>/petcadastra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioPJurica</servlet-name>
        <url-pattern>/CadastrarUsuarioPJurica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuarioPJuridica</servlet-name>
        <url-pattern>/CadastrarUsuarioPJuridica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarONGs</servlet-name>
        <url-pattern>/CadastrarONGs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarPets</servlet-name>
        <url-pattern>/listarPets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarInformacao</servlet-name>
        <url-pattern>/RegistrarInformacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarPetUsuario</servlet-name>
        <url-pattern>/listarPetUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarConteudoPerfil</servlet-name>
        <url-pattern>/ListarConteudoPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfil</servlet-name>
        <url-pattern>/EditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notificacacaochat</servlet-name>
        <url-pattern>/notificacacaochat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notificacaochat</servlet-name>
        <url-pattern>/notificacaochat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visualizacaochat</servlet-name>
        <url-pattern>/visualizacaochat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicacaoUnica</servlet-name>
        <url-pattern>/PublicacaoUnica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarAdocao</servlet-name>
        <url-pattern>/FinalizarAdocao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adotar</servlet-name>
        <url-pattern>/Adotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErroAdotar</servlet-name>
        <url-pattern>/ErroAdotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarNotificacoes</servlet-name>
        <url-pattern>/ListarNotificacoes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceitarAdocao</servlet-name>
        <url-pattern>/AceitarAdocao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsers</servlet-name>
        <url-pattern>/ListarUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarDocumentacao</servlet-name>
        <url-pattern>/GerarDocumentacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarNotificacoesAdocao</servlet-name>
        <url-pattern>/ListarNotificacoesAdocao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentoBanco</servlet-name>
        <url-pattern>/DocumentoBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarDocumentacao</servlet-name>
        <url-pattern>/ListarDocumentacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notificacao</servlet-name>
        <url-pattern>/Notificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizacaoNotific</servlet-name>
        <url-pattern>/VisualizacaoNotific</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecusarAcordo</servlet-name>
        <url-pattern>/RecusarAcordo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatosRecentes</servlet-name>
        <url-pattern>/ContatosRecentes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEmail</servlet-name>
        <url-pattern>/EditarEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenha</servlet-name>
        <url-pattern>/AlterarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pesquisar</servlet-name>
        <url-pattern>/Pesquisar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
